<mat-form-field appearance="fill" class="w-full">
    <mat-label>
        {{ mode() === PriceInputMode.Unit ? 'Price per ' + assetSymbol() : 'Total Value' }}
    </mat-label>

    @if (currencyPrefix()) {
    <span matTextPrefix class="mr-1 text-gray-300">{{ currencyPrefix() }}</span>
    }

    <input matInput type="number" class="price-input__number" [formControl]="internalControl" [placeholder]="'0.00'"
        (blur)="onTouched()">

    <button matSuffix mat-icon-button (click)="toggleMode()" type="button"
        matTooltip="Toggle between Unit Price and Total Value">
        <mat-icon>swap_horiz</mat-icon>
    </button>

    <mat-hint class="text-xs">
        @if (internalControl.value !== null && internalControl.value > 0) {
        @if (mode() === PriceInputMode.Unit) {
        = <span class="price-input__computed-value">{{ calculatedTotal() | currency:fiatCurrency():'symbol-narrow':'1.2-18'
            }}</span> Total
        } @else {
        = <span class="price-input__computed-value">{{ calculatedUnit() | currency:fiatCurrency():'symbol-narrow':'1.2-18'
            }}</span> per {{ assetSymbol() }}
        }
        } @else {
        Enter value
        }
    </mat-hint>
</mat-form-field>