html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #0d1421;
}

.fs-7 {
    font-size: small;
}

.v-align {
    vertical-align: middle;
}

.coin-logo {
    height: 24px;
    width: 24px;
    border-radius: 12px;
}
