/* Tailwind CSS */
@use "tailwindcss";

/* Global Styles */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "app/shared/styles/table-utilities";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #303030;
    color: white;
}